<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OrderinfoMapper" >
  <resultMap id="BaseResultMap" type="entity.Orderinfo" >
    <id column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    username
  </sql>
  <select id="selectByUsername" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from orderinfo
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderinfo
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.Orderinfo" >
    insert ignore into orderinfo (username)
    values (#{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Orderinfo" >
    insert into orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>